<p><a href="${contextPath}/page/addUser">添加用户</a></p>
<div>
    <div>
        <% for(topic in topicPage.list!){%>
        <div>
            <tr>
                <td>${topic.username}</td>
                <td>${topic.realname}</td>
                <td>${topic.mobile}</td>
                <td>${topic.address}</td>
                <td>
                    <a href="${contextPath}/user/queryUserById/${topic.id}">编辑</a>
                    <a href="${contextPath}/user/deleteById/${topic.id}">删除</a>
                </td>
            </tr>
        </div>
        <%}%>
    </div>
    <% include("/_paginate.html",
    {"currentPage":topicPage.pageNumber,"totalPage":topicPage.totalPage}) {} %>
</div>